<aside>
  <div class="container">
    <nav>
      <ul>
        {% for p in site.pages %} {% if p.title %}
        <li>
          <a href="{{ p.url | prepend: site.baseurl}}">{{ p.title }}</a>
        </li>
        {% endif %} {% endfor %}
        <li>
          <a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a>
        </li>
        <li>
          <a href="{{ '/interests' | prepend: site.baseurl }}">Interests</a>
        </li>
        <li>
          <a href="{{ '/gallery' | prepend: site.baseurl }}">Gallery</a>
        </li>
        <li>
          <a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<header>
  <h1 class="animated slideInLeft"><a href="http://kartsridhar.github.io">{{ site.title }}</a></h1>
</header>
