.nav-main {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #000;
  font-family: $font-body;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-links a {
  text-decoration: none;
  display: block;
  font-family: $font-body;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: -1px;
  box-shadow: 0;
}

.nav-links a:hover {
  background: $header;
  text-decoration: none;
  color: $main-colour;
}

.nav-links a:active {
  background: $header;
  text-decoration: none;
  color: $main-colour;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: $link-colour;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 4.7vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }
}

.nav-active {
  transform: translateX(0%);
}

h1, h2, h3 {
  font-weight: 500;
  color: $font-head-colour;
  font-family: $font-head;
  line-height: 1.5;
}

h4 {
  font-weight: 500;
  color: #aa4c08;
  line-height: 1.5;
}

h1 {
  color: $main-colour;
  font-size: 3em;
  a, a:visited {
    text-decoration: none;
    color: $main-colour;
  }
}

h2 {
  font-size: 1.5em;
}

a, a:visited {
  color: $link-colour;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: $link-mouse-over;
  text-decoration: none;
}

body {
  color: $font-colour;
  font-family: $font-body;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.6;
  // -webkit-font-smoothing: antialiased;
}

header {
  background: $header;
  // background-image: url("../assets/img/heading-wallpaper.jpg");
  // background-repeat: no-repeat;
  padding: 0px 15px;
  text-align: center;
  margin: 0px 0 0;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 40px;
}

#skills {
  margin: 0 auto;
  height: auto;
  max-width: 100%;
  border: none;
  display: block;
  padding: 5px 0;
  visibility: hidden;
}

#scot1 {
  margin: 0 auto;
  height: auto;
  max-width: 100%;
  border: solid;
  display: block;
  padding: 5px 0;
  visibility: hidden;
}

#scot2 {
  margin: 0 auto;
  height: auto;
  max-width: 100%;
  border: solid;
  display: block;
  padding: 5px 0;
}

.column {
  float: left;
  width: 20%;
  padding: 25px;
  transition: 0.3s;
}

.column:hover {
  transform: scale(1.3);
}
