aside {
  top: 0;
  right: 0;
  background: #1b1833;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 0px solid lighten($light, 30%);
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);

  nav {
    float: right;
    max-width: 800px;
    margin: 0 auto;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      float: right;
      position: relative;

      a {
        text-decoration: none;
        display: block;
        padding: 15px;
        font-family: $font-body;
        line-height: 20px;
        margin-bottom: -1px;
        box-shadow: 0;

        &:hover, &:active {
          background: $header;
          text-decoration: none;
          color: $main-colour;
        }
      }
    }
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

h1, h2, h3 {
  font-weight: 500;
  color: $font-head-colour;
  font-family: $font-head;
  line-height: 1.5;
}

h4 {
  font-weight: 500;
  color: #aa4c08;
  line-height: 1.5;
}

h1 {
  color: $main-colour;
  font-size: 3em;
  a, a:visited {
    text-decoration: none;
    color: $main-colour;
  }
}

h2 {
  font-size: 1.5em;
}

a, a:visited {
  color: $link-colour;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: $link-mouse-over;
  text-decoration: none;
}

body {
  color: $font-colour;
  font-family: $font-body;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.6;
  // -webkit-font-smoothing: antialiased;
}

header {
  background: $header;
  padding: 0px 15px;
  text-align: center;
  margin: 50px 0 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 40px;
}

#skills {
  margin: 0 auto;
  height: auto;
  max-width: 100%;
  border: none;
  display: block;
  padding: 5px 0;
}
