$main-colour: #FF6729;
$font-body: 'Source Code Pro', monospace;
$font-colour: #2B2950;
$link-colour: #FF0000;
$link-mouse-over: #4c41af;

$font-head: 'Open Sans', sans-serif;
$font-head-colour: #FF0000;
$light: #E7EDF4;
$header: #1D1425;

$content-width: 800px;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
